{
    "presets": ["@babel/preset-env"],
    "env": {
        "esm": {
            "ignore": ["src/**/*.test.js"],
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": "> 0.25%, not dead"
                    }
                ]
            ]
        },
        "cjs": {
            "ignore": ["src/**/*.test.js"],
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": "commonjs"
                    }
                ]
            ]
        }
    }
}
